<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Клинет тізімі</title>
    <link rel="stylesheet" th:href = "@{/css/bootstrap.min.css}" />
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <form action="#" th:action="@{/client/add}" th:object = "${client}" method="POST">
                <label for="aty">Аты</label>
                <input type="text" id="aty" name="aty" th:field = "*{Aty}" class="form-control" placeholder="Есімін енгіз" />

                <label for="email">Почта</label>
                <input type="text" id="email" name="email" th:field = "*{email}" class="form-control" placeholder="Email енгіз" />

                <label for="telefon">Телефон</label>
                <input type="" id="telefon" name="telefon" th:field = "*{telefon}" class="form-control" placeholder="Телефон номерінді енгіз"/>

                <label for="mekenzhai">Адресс</label>
                <input type="text" id="mekenzhai" name="mekenzhai" th:field = "*{mekenzhai}" class="form-control" placeholder="Мекен-жайды енгіз" />

                <br/>
                <button type="submit" class="btn btn-primary">Сақтау</button>

            </form>
        </div>
    </div>
</div>

<script th:src = "@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
</body>
</html>